#user-form {
    margin: 10px auto;
    width: 90%;
    text-align: center;
}
#save-btn {
    margin: 10px auto;
}
#cancel-btn {
    margin: 10px auto;
}
#error_msg {
    margin: 10px auto;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: red;
}