#user-form {
    margin: 10px auto;
    width: 90%;
    text-align: center;
}
#save-btn {
    margin: 10px auto;
}
#cancel-btn {
    margin: 10px auto;
}
#rectangle {
    width: 60px;
    height: 35px;
    background: red;
    margin: 10px auto;
    position: absolute;
    top: 362px;
    left: 341px;
    visibility: hidden;
}