.list {
    margin: 10px auto;
    width: 90% !important;
    text-align: left;
}
.glyphicon {
    cursor: pointer;
}
#add {
    margin-right: 100px !important;
    display: inline;
}
#search {
     height: 35px;
 }
#apply_btn {
    position: absolute;
    right: 550px;
    height: 35px;
}

#search_btn {
    margin-right: 50px;
    margin-top: -2px;
}
.page_btn_light {
    background: lightblue;
}
/*
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}


.active, .btn:hover {
    background-color: #666;
    color: white;
}
*/
